{% extends 'base/base.html' %}

{% block content %}

<h2>Create Event</h2>

<form method="POST">
    {% csrf_token %}

    <label>Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Description</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Location</label><br>
    <input type="text" name="location"><br><br>

    <label>Start Date</label><br>
    <input type="date" name="start_date"><br><br>

    <label>End Date</label><br>
    <input type="date" name="end_date"><br><br>

    <button type="submit">Create Event</button>

</form>

{% endblock %}